<!DOCTYPE html>
<html>
<head>
	
	<title> Test-Expert </title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link href="{{url_for('static', filename = 'test-expert.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename = 'test-expert.js')}}"></script>

</head>
<body>
	
	<h3>Test expert</h3>
	<div id="test expert"></div>

	<p id="title"></p>





	<p id="question 1"></p>
	<button id="Oui1"> Oui </button>
	<button id="Non1"> Non </button>
	
	<p id="question 2"></p>
	<button id="Oui2"> Oui </button>
	<button id="Non2"> Non </button>




</body>
</html>